<!DOCTYPE html>
<html>
<head>
  <title>Webcomic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div margin=10px></br></div>
  <div class="container text-center"> <!-- Header and navbar -->
    <%= image_tag("https://placeholder.baker.com/800x200", style: 'width:75%', id: "header") %>
    </br>
    <div class="btn-group">
      <%= link_to "Home", root_path, class: "btn btn-default" %>
      <%= link_to "Blog", "#", class: "btn btn-default" %>
      <% if user_signed_in? == false %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-default" %>
      <% end %>
      
    </div>
  </div> 

  <div class="container">
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
  </div>
  
  <%= yield %>

</body>
</html>
