<!DOCTYPE html>
<html>
<head>
  <title>Webcomic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container text-center"> <!-- Header and navbar -->
    <%= image_tag("https://placeholder.baker.com/800x200", style: 'width:75%') %>
  </div> 

  <div class="container">
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
  </div>
  
  <%= yield %>

  <div class="container">
    <p><%= Faker::Lorem.paragraphs %></p>
  </div>
</body>
</html>
